<section class="section">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <label>Nome</label>
        <input
          matInput
          type="text"
          id="nome"
          name="nome"
          placeholder="Nome"
          ngModel
          required
          #nome
        >
        <div>{{ nome.className }}</div>
      </div>
        <div class="row">
          <label>Email</label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            ngModel
            required
            email
          >
        </div>
      <div class="row">
        <button mat-raised-button type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>

